@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Sixtyfour+Convergence&display=swap');
body {
    margin-top: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#interfaz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10; /* Por encima del canvas */
    pointer-events: none; /* Permite que clics pasen al canvas */
}

#vidasContainer, #contador, #puntos {
    pointer-events: auto; /* Asegura que estos elementos sean interactivos */
}

#vidasContainer {
    top: 100px;
    left: 34%;
    display: flex;
    gap: 10px;
    position: absolute;
}

#contador {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 40px;
    font-family: 'Silkscreen';
    text-shadow: 2px 2px 0px #000000, 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#puntos {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 24px;
    font-family: 'Silkscreen';
    text-shadow: 2px 2px 0px #000000, 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#mostrarFase {
    position: absolute;
    top: 35%;
    right: 20%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 24px;
    font-family: 'Silkscreen';
    text-shadow: 2px 2px 0px #000000, 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#puntuacionMasAlta {
    top: 100px;
    display: flex;
    gap: 10px;
    position: absolute;
    right: 30%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 24px;
    font-family: 'Silkscreen';
    text-shadow: 2px 2px 0px #000000, 3px 3px 2px rgba(0, 0, 0, 0.5);
}


.vida {
    width: 30px; 
    height: 30px;
}

#botones {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#btnInicio, #btnPausa, #btnReset {
    font-family: "Silkscreen";
    padding: 10px 20px;
    background-color: black;
    color: #ffcc00;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    cursor: pointer;
}

#controles {
    position: absolute;
    top: 50%;
    left: 22%;
    width: 160px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#btn:hover {
    background-color: #704503;
}

#miCanvas {
    position: relative;
}

#mensajePausa, #mensajeInicio, #mensajeVida, #mensajeGameOver, #mensajeReinicio {
    font-family: "Silkscreen";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: red;
    border: 2px solid red;
    padding: 20px 40px;
    font-size: 24px;
    text-align: center;
    z-index: 1000;
    display: none; /* Ocultarlo por defecto */
}

.oculto {
    display: none; /* Clase para ocultar elementos */
}



